<!-- <form>
    <input type="text" name="login" [(ngModel)]="adminAccess.login">
    <input type="password" name="password" [(ngModel)]="adminAccess.password">
    <button class="btn btn-info" (click)="connection()">Connexion</button>
</form> -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.component.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body>

<img src="./assets/ressources/galsen.svg.png" class="logo">

<div class="form-container">
    <form action="" id="form">
        <h3>Connexion</h3>

        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nom de votre équipe" name="login" [(ngModel)]="adminAccess.login"/><br>

        <!-- <i class="fas fa-at"></i>
        <input type="email" placeholder="Email de votre équipe"/><br> -->

        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="adminAccess.password"/><br>

        <input type="submit" value="Se connecter" (click)="connection()">
        <!-- <button class="btn btn-info" (click)="connection()">Connexion</button> -->

   </form>
</div>

<script>
    var form = document.getElementById('form');
    form.addEventListener('mousemove', (e)=>{
        var x =(window.innerWidth/2 - e.pageX) / 12;
        var y =(window.innerHeight/2 - e.pageY) / 12;

        form.style.transform ='rotate('+ x + 'deg) rotateY('+ y + 'deg)';

       });

   form.addEventListener('mouseleave', function(){
       form.style.transform ='rotate(0deg) rotateY(0deg)';
   });
    </script>
</body>
</html>